# **SHALLOW vs DEEP COPY**

**Shallow Copy**

In [13]:
import copy

a = [[5,10],[15,20]]

b = copy.copy(a)

print(id(a), id(b))     # both id are different

138008575071360 138008575071232

In [14]:
print(id(a[0]))
print(id(b[0]))   # both values id are same

138008575070976
138008575070976

**Deep Copy**

In [15]:
c = copy.deepcopy(a)

print(id(a[0]))
print(id(c[0]))    # both id are different

138008575070976
138008575070208

# ***args â€” VARIABLE POSITIONAL ARGUMENTS**

In [23]:
def show(*args):
  print(args)

show(2,3,5,6,9,8,7)

(2, 3, 5, 6, 9, 8, 7)

**âœ… Useful Example**

In [24]:
def add_nums(*args):
  total = 0
  for num in args:
    total = num + total
  return total

add_nums(5,2,4)

11

ðŸ”„ **UNPACKING WITH** - * opens the list and passes values one by one.

In [26]:
numbers = (2,1,3,4)

add_nums(*numbers)

10

In [29]:
# example

marks = 80

def check_pass(a,*args):
  print(args)
  if marks > 75:
    return 'pass'

check_pass(marks, *numbers)

(2, 1, 3, 4)

'pass'

# ***kwargs â€” VARIABLE KEYWORD ARGUMENTS**

In [33]:
def show_names(**kwargs):
  print(kwargs)

show_names(name="Nilesh", age=22, role="ML Engineer")

{'name': 'Nilesh', 'age': 22, 'role': 'ML Engineer'}